<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrakopediareader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MRReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FavoritesExportActivity"
            android:exported="false"
            android:label="@string/title_activity_favorites_export"
            android:theme="@style/AppTheme"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".categorieslist.AllCategories"
            android:label="Список категорий"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".categorieslist.CategoriesByPage"
            android:label="Категории истории"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".viewpage.ViewPage"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="История"
            android:parentActivityName=".GeneralActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/api_hostname"
                    android:pathPrefix="/api/page"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/api_hostname"
                    android:pathPrefix="/api/page"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/api_legacy_api_hostname"
                    android:pathPrefix="/api/page"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/api_legacy_api_hostname"
                    android:pathPrefix="/api/page"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".pageslist.SearchResults"
            android:label="Результаты поиска"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".pageslist.PagesByCategory"
            android:label="Истории по категории"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".pageslist.FavoritesList"
            android:label="Избранное"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".pageslist.HOTMList"
            android:label="Истории месяца"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".pageslist.RelatedList"
            android:label="Похожие страницы"
            android:parentActivityName=".GeneralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GeneralActivity" />
        </activity>
        <activity
            android:name=".GeneralActivity"
            android:exported="true"
            android:label="@string/drawer_title_activity_general"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>